body{
background-color: lightcyan;
    text-align: center;
}

h1 {
    border: black;
color: blue;
text-align: center;
}
label{
   color: crimson;
    font-weight: 500;
    font-size: large;
}
